<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{706,431}</string>
                <key>spriteSourceSize</key>
                <string>{706,431}</string>
                <key>textureRect</key>
                <string>{{1,1},{706,431}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg0_3-hd.pvr.ccz</string>
            <key>size</key>
            <string>{708,433}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:523407c1e9493b0e0c1b1f3d6a8ee2e9:24a9fecd69e69670ef0df6eac9926fc6:3651576655bd6d5e573873e3b05e0363$</string>
            <key>textureFileName</key>
            <string>bg0_3-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
