<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1024,768}</string>
                <key>spriteSourceSize</key>
                <string>{1024,768}</string>
                <key>textureRect</key>
                <string>{{1,1},{1024,768}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg1_2-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{1026,770}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ef4d4164dc69584a22b6bdddb363a83:b52c280ce90427192d5f3e4307122624:1308f22bc6856d681409b16fee51639d$</string>
            <key>textureFileName</key>
            <string>bg1_2-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
