<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,239},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>BONUS.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,1},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>ICON1.png</key>
            <dict>
                <key>frame</key>
                <string>{{239,239},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>ICON2.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,1},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>ICON3.png</key>
            <dict>
                <key>frame</key>
                <string>{{477,239},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>ICON4.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,1},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{715,239},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,1},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{953,239},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>SCATER.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,1},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
            <key>WILD.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,239},{236,236}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,236}}</string>
                <key>sourceSize</key>
                <string>{236,236}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons_m_6-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{1428,476}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e09dc282c5244db2c721d6953082f118:fc718fb058e944af04905dd93a45eb8b:91d49710b036c646cd5e38653f9716c0$</string>
            <key>textureFileName</key>
            <string>icons_m_6-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
