<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,1},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>A.png</key>
            <dict>
                <key>frame</key>
                <string>{{1,1},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>BONUS.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,1},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ICON1.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ICON2.png</key>
            <dict>
                <key>frame</key>
                <string>{{117,1},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ICON3.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,1},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ICON4.png</key>
            <dict>
                <key>frame</key>
                <string>{{175,1},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>J.png</key>
            <dict>
                <key>frame</key>
                <string>{{233,1},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>K.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,1},{54,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{54,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,1},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>SCATER.png</key>
            <dict>
                <key>frame</key>
                <string>{{349,1},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>WILD.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,1},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons_m_2.pvr.ccz</string>
            <key>size</key>
            <string>{688,58}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:04d4fcaeb117641eff7658cd36ef3dbe:0039795d2fcd9af4e117f18e8c80e730:1792d68dc358e0629d8a411a94f32881$</string>
            <key>textureFileName</key>
            <string>icons_m_2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
