<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{706,430}</string>
                <key>spriteSourceSize</key>
                <string>{706,430}</string>
                <key>textureRect</key>
                <string>{{1,1},{706,430}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg0_5-ipad.pvr.ccz</string>
            <key>size</key>
            <string>{708,432}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18c304e6ec0fa500244ad3f9bd8a57e8:cd0c071ae5f403779dccdc07ec61074c:df821b0bed5b4be83c17b6191b0c9ad2$</string>
            <key>textureFileName</key>
            <string>bg0_5-ipad.pvr.ccz</string>
        </dict>
    </dict>
</plist>
