<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,194}</string>
                <key>spriteSourceSize</key>
                <string>{220,194}</string>
                <key>textureRect</key>
                <string>{{1639,1},{220,194}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,212}</string>
                <key>spriteSourceSize</key>
                <string>{218,212}</string>
                <key>textureRect</key>
                <string>{{1835,1},{218,212}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>BONUS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{187,191}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{2351,1},{187,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ICON1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ICON2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{238,1},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ICON3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{475,1},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ICON4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{712,1},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,206}</string>
                <key>spriteSourceSize</key>
                <string>{96,206}</string>
                <key>textureRect</key>
                <string>{{2253,1},{96,206}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,202}</string>
                <key>spriteSourceSize</key>
                <string>{218,202}</string>
                <key>textureRect</key>
                <string>{{2049,1},{218,202}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,228}</string>
                <key>spriteSourceSize</key>
                <string>{214,228}</string>
                <key>textureRect</key>
                <string>{{1423,1},{214,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>SCATER.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{949,1},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WILD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{1186,1},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons_m_5-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{2539,237}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df598164f1192a5f3e8729aab60fcf09:4ae8420bcb1e7c042215eefeca68e9d6:a84904166ab17d2797a2bf1d489fe969$</string>
            <key>textureFileName</key>
            <string>icons_m_5-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
