<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{220,194}</string>
                <key>spriteSourceSize</key>
                <string>{220,194}</string>
                <key>textureRect</key>
                <string>{{1,1876},{220,194}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>A.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,212}</string>
                <key>spriteSourceSize</key>
                <string>{218,212}</string>
                <key>textureRect</key>
                <string>{{1,2072},{218,212}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>BONUS.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{1,1},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ICON1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{1,238},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ICON2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{1,475},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ICON3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{1,712},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>ICON4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{1,949},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>J.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{96,206}</string>
                <key>spriteSourceSize</key>
                <string>{96,206}</string>
                <key>textureRect</key>
                <string>{{1,2490},{96,206}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>K.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{218,202}</string>
                <key>spriteSourceSize</key>
                <string>{218,202}</string>
                <key>textureRect</key>
                <string>{{1,2286},{218,202}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Q.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{214,228}</string>
                <key>spriteSourceSize</key>
                <string>{214,228}</string>
                <key>textureRect</key>
                <string>{{1,1660},{214,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>SCATER.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{1,1186},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WILD.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,235}</string>
                <key>spriteSourceSize</key>
                <string>{235,235}</string>
                <key>textureRect</key>
                <string>{{1,1423},{235,235}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icons_m_1-ipadhd.pvr.ccz</string>
            <key>size</key>
            <string>{237,2587}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:515d80fb76f85eae9a399aba9f48f6c1:06254899c1ca7054a74016cdd00a9aa0:3fbf86f399f0540e627b7da623b5b35f$</string>
            <key>textureFileName</key>
            <string>icons_m_1-ipadhd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
